<section class="vh-100" style="background-color: #3da2c3;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <%= turbo_stream_from :quote %>
            <%= render 'quote', quote: @quote %>

            <ul class="list-group rounded-0">
              <%= turbo_stream_from :tasks %>
              <%= render 'new_task' %>
              <%= turbo_frame_tag :tasks %>
              <% @tasks.each do |task| %>
                <%= render 'task', task: task %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
